$base-green: #32a583;
$base-red: #ff6b6b;
$dark-blue: #ff6b6b;
$primary: #ff6b6b;
$primary-purple: rgb(145, 12, 127);
$primary-dark: $primary-purple;
$teach-primary: #32a583;
$white: #fff;
$black: #000;
