@import "variables";

.form-primary-fields {
    border-bottom:  #9A9FA2;
    margin-bottom: 2rem;
  }

  .invalid-feedback {
    font-size: 0.7rem;
    color: red;
}
  
  label {
    color: $primary;
    font-weight: 600;
  }
  
  textarea {
    min-height: 8rem;
    ::after {
      color: red;
    }
  }
  
  .form-control {
    font-size: 0.85rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 0.1rem solid grey;
  
    &:focus {
      border-color: $light-blue;
      border-width: 0.15rem;
      box-shadow: none;
    }

  }

.signup-form {
    display: grid;
    grid-template-columns: 15% auto 15%;
    grid-template-rows: 5% auto 8%;
    background-color: transparent;
    grid-row-gap: 1rem;
    font-family: $font-family-form;
    color: $primary;
    padding-top: 2rem;
    height: 30rem;


.signup-form-title {
    font-size: 1rem;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    font-family: $font-family-form;
    font-weight: bold;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


.signup-form-fields {
    box-sizing:border-box;
    padding-top: 1.5rem;
    border-radius: 0.5rem;

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    display: grid;
    grid-template-rows: 20% 20% 20% 20%;
    grid-row-gap: 1.5rem;
    background-color: white;
    justify-items: stretch;
    font-size: 0.7rem;
    padding-left: 2rem;
    padding-right: 2rem;

    width: 100%;

}


.signup-username {
    grid-row-start: 1;
    grid-row-end: 2;

}

.signup-email {
    grid-row-start: 2;
    grid-row-end: 3;
}

.signup-password {
    grid-row-start: 3;
    grid-row-end: 4;
}

.signup-confirm-password {
    grid-row-start: 4;
    grid-row-end: 5;
}

.signup-submit {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
}

}

.login-form {
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 20% 70% 10%;
    align-items: center;
    justify-items: center;
    padding-top: 2rem;
    grid-row-gap: 1rem;
    color: $primary;
}

.login-form-title {
    font-size: 1rem;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    font-weight: bold;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.login-form-fields {
    box-sizing:border-box;
    padding-top: 1.5rem;
    border-radius: 0.5rem;

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    display: grid;
    grid-template-rows: 50% 50%;
    grid-row-gap: 1.5rem;
    background-color: white;
    justify-items: stretch;
    font-size: 0.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;

    width: 100%;

    .login-username {
        grid-row-start: 1;
        grid-row-end: 2;
    
    }
    
    .login-password {
        grid-row-start: 2;
        grid-row-end: 3;
    }

}

.login-submit {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
}


  
//   .form-text {
//     color: #afafaf;
//     font-size: 0.9rem;
//   }

// slightly narrower for forms
// .form-container {
//   @media (min-width: 1200px) {
//     max-width: 7240px;
//   }

//   @media (min-width: 992px) {
//     max-width: 720px;
//   }

//   margin-left: 0;
//   margin-right: auto;
// }

// .form-primary-fields {
//   margin-bottom: 2rem;
// }

// label {
//   font-weight: 600;
// }

// textarea {
//   min-height: 8rem;
//   ::after {
//     color: red;
//   }
// }

// .form-control {
//   font-size: 0.85rem;
//   padding-top: 0.5rem;
//   padding-bottom: 0.5rem;
//   width: 100%;

//   &:focus {
//     box-shadow: none;
//   }
// }

// .form-text {
//   color: #afafaf;
//   font-size: 0.9rem;
// }

// .edit-form {
//   .form-control {
//     display: block;
//     width: 100%;
//     padding-top: 0.375rem;
//     padding-bottom: 0.375rem;
//     margin-bottom: 0;
//     line-height: 1.5;
//     color: #212529;
//     background-color: transparent;
//     border: solid transparent;
//     border-width: 1px 0;

//     &::-webkit-input-placeholder {
//       color: transparent;
//   }
//   }
// }

// .form-check-input:checked + .form-check-label {
//   font-weight: bold;
// }

// .content-editable-container {
//   label {
//     transition: opacity 0.2s ease;
//     opacity: 0;
//     font-size: 0.8rem;
//     margin-bottom: 0;

//     &.show {
//       opacity: 1;
//     }
//   }
// }
// .ember-content-editable {
//   background: #ffffff00;

//   transition: padding 0.2s ease, border 0.2s ease, background 0.2s ease;
//   &:not(.form-control):focus {
//     background: #fff;
//     outline: none;
//     border-radius: 6px;
//     padding: 0.2em 0.3em;
//   }

//   &.form-control {
//     overflow: hidden;
//     white-space: nowrap;
//   }

//   &.is-modified {
//     border-radius: 6px;
//     background: rgb(245, 226, 226);
//   }

//   &.is-invalid {
//     border: 1px solid #dc3545;
//       padding-right: calc(1.5em + 0.75rem);
//       background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc354…%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
//       background-repeat: no-repeat;
//       background-position: center right calc(0.375em + 0.1875rem);
//       background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
//   }
// }

// .edit-select-box {
//   .ember-power-select-trigger {
//     display: inline-block;
//     width: 150px;
//     vertical-align: middle;
//   }
// }