@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
$karla: 'Karla', sans-serif;
$primary-purple: rgb(145, 12, 127);
$primary-dark: $primary-purple;
$teach-primary: #32a583;
$white: #fff;
$black: #000;
$font-family-form: 'Inter', sans-serif;
$profile-image: '/public/assets/profile.svg';
