{{outlet}}

<div class=" d-flex row text-center p-4 shadow-sm justify-content-center">
  <h3><b>Create H5P Chapter</b></h3>
</div>
<div class="row text-center d-flex justify-content-center pt-4">
  <span class="border-bottom border-success m-3"><b>Name & Description</b></span>
  <span class="border-bottom border-success m-3"><b>H5P Content</b></span>
  <span class="border-bottom border-success m-3"><b>Thumbnail</b></span>
  <span class="border-bottom border-success m-3"><b>Tags</b></span>
  <span class="border-bottom border-success m-3"><b>Preview & Publish</b></span>

</div>
<div class="row d-flex justify-content-center">

  <div class="p-4 col-lg-8">
    <BsForm @model={{model}} @onSubmit={{action "saveChapter" }} as |form|>
      <form.element @controlType="text" @label="Chapter Title" @property="name" />
      <form.element @controlType="textarea" @label="Chapter Description" @property="description" />



      <BsButton @type="primary" class="form-control" @defaultText="Save Chapter Details" @buttonType="submit" />


    </BsForm>
  </div>
</div>