<div class=" d-flex row text-center p-4 shadow-sm justify-content-center">
  <h3><b>{{t "messages.create_h5p_chapter"}}</b></h3>
</div>

<div id="create-chapter-form"  class="row d-flex flex-column justify-content-center">
  <Toc @page="1"/>
  <div class="p-4 col-lg-8">
    <BsForm @model={{this.model}} @onSubmit={{this.saveChapter}} as |form|>
      <form.element @controlType="text" @label="CHAPTER NAME" @property="name" />
      <form.element @controlType="textarea" @label="CHAPTER DESCRIPTION" @property="description" />

      <BsButton @type="primary" class="form-control" @defaultText="Save Chapter Details" @buttonType="submit" />

    </BsForm>
  </div>
</div>