{{outlet}}


<div class="row text-center d-flex justify-content-center">
  <span class="border-bottom border-success m-3"><b>Name & Description</b></span>
  <span class="border-bottom border-success m-3"><b>H5P Content</b></span>
  <span class="border-bottom border-success m-3"><b>Thumbnail</b></span>
  <span class="border-bottom border-success m-3"><b>Tags</b></span>
  <span class="border-bottom border-success m-3"><b>Preview & Publish</b></span>

</div>
<div class="p-4">
  <BsForm @model={{model}} @onSubmit={{action "saveChapter"}} as |form|>
    <form.element @controlType="text" @label="Chapter Title" @property="name" />
    <form.element @controlType="textarea" @label="Chapter Description" @property="description" />



    <BsButton @type="primary" class="form-control" @defaultText="Save Chapter Details" @buttonType="submit" />


  </BsForm>
</div>