{{#if this.me.isAuthenticated}}
  <div class="container bg-white">
    <div class="d-flex justify-content-between pt-3 mt-0">
      <h3>My Content</h3>
      <LinkTo @route="teach.create" class="btn bg-primary" role="button">
        Get started
      </LinkTo>

    </div>

    <div class="row ml-1">
      <LinkTo @route="teach.index">
        <div class="sub-link">Drafts</div>
      </LinkTo>
      <LinkTo @route="teach.published">
        <div class="sub-link">Published</div>
      </LinkTo>
      <hr>
    </div>
    <hr class="bg-green">

    <div class="row mt-3">

      {{#if this.model}}

        {{#each this.model as |chapter|}}
          <TeachListItem @chapter={{chapter}} />
        {{/each}}
      {{else}}

      {{/if}}
    </div>
  </div>
{{else}}

  <Warning @message="You do not have permission to view this page"/>

{{/if}}