<div class="container">
  <div id="home">
    <div class="heading bg-orange">
      {{outlet}}
    </div>
  </div>

  <div class="text-center padded">
    <iframe id='moja-hazina' src='https://hazina.brck.io?quest=a1246bd6-9d0f-4901-9116-ef86621e027d' name='moja-hazina'
      sandbox='allow-forms allow-modals allow-scripts allow-popups' loading='eager'
      style='border:none; height:180px; overflow:hidden; width: 350px; background-color:white;'>
    </iframe>
  </div>
</div>