<div class="container">
  <div id="home">
    <div class="heading bg-orange">

    </div>
  </div>
  <div class="text-center padded">
    <iframe id="moja-hazina" src="https://hazina.brck.io?quest=a1246bd6-9d0f-4901-9116-ef86621e027d" name="moja-hazina"
      sandbox="allow-forms allow-modals allow-scripts allow-popups" loading="eager"></iframe>
  </div>
</div>