<div id="home">
  <div class="heading bg-orange">
    <h2>Accounts</h2>
    <p>User Accounts.</p>
  </div>

  <div class="padded">

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">email</th>
          <th scope="col">Last Seen</th>
        </tr>
      </thead>
      <tbody>
        {{#each this.userAccounts as |user_account|}}
        <tr>
          <th scope="row">1</th>
          <td>{{user_account.email}}</td>
          <td>{{user_account.username}}</td>
          <td>{{user_account.lastSeen}}</td>
        </tr>
        {{/each}}

      </tbody>
    </table>
  </div>

</div>