<div id="home">

  <div class="heading bg-orange">
    <div class="row">
      <div class="col">
        <h2>Accounts</h2>
        <p>User Accounts.</p>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Accounts Created</h5>
            <h1 class="card-text">{{this.accountMetric.total}}</h1>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            {{ember-chart type="line" data=this.accountMetric.lineData width=600 height=500}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>