{{yield}}
<div>
  <p>Add note</p>
  <form onSubmit={addNote}>
    <input value={title} onChange={(e)=> setTitle(e.target.value)} />
    <textarea value={body} onChange={(e)=> setBody(e.target.value)}></textarea>
    <button>Save Notes</button>
  </form>
</div>