{{#if me.isAuthenticated}}
  <div class="heading bg-green">




    <h3>What would you llike to teach today?</h3>
  </div>
  <div class="padded ">
    <br>
    <h4>Introduction</h4>

    You can create Courses on Wikonnect with modules and lessons or contribute modules or chapters to existing courses

    {{#link-to "cms.course.create"}}

      <div class="cms-button">
        Create a course
      </div>

    {{/link-to}}



    {{#link-to "cms.module.create"}}

      <div class="cms-button">
        Add a module
      </div>

    {{/link-to}}



    {{#link-to "cms.lesson.create"}}

      <div class="cms-button">
        Add a lesson
      </div>

    {{/link-to}}



  </div>
{{else}}
  <Warning @message="You do not have sufficient permissions to view this page" />

{{/if}}