<nav class="admin-main-header navbar navbar-expand navbar-light bg-transparent">

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <NavMenu::NotificationDropdown @notifications={{@notifications}} />
    </li>
    <NavMenu::UserAccountDropdown @logout={{this.logout}} />
  </ul>
</nav>