<div class="achievement">
  <div>
    <img src="/badges/003-second.svg" height="40px" alt="">

  </div>
  <div>
    <b>You are not the best</b>
    <p>You are actualy the second best</p>
  </div>
</div>