<div class="achievement">
  <div>
    {{!-- <img src="/badges/{{@badge}}.svg" height="40px" alt=""> --}}

  </div>
  <div>
    <p>{{@name}}</p>
    <p>{{@achievementId}}</p>
    <p>{{@description}}</p>
  </div>
</div>