{{#unless this.me.isAuthenticated}}
<footer>
  <nav class="navbar fixed-bottom text-white mt-5  bg-orange">
    <div class="container">
      <div class="row">

        <div class="mt-2 col">
          {{t "messages.auth_prompt"}}
        </div>
        <div class="col">
          <LinkTo @route="login">
            <button type="button" class="btn btn-outline-light float-right mr-2">{{t "buttons.login"}}</button>
          </LinkTo>
          <LinkTo @route="signup">
            <button type="button" class="btn btn-outline-light float-right mr-2">{{t "buttons.signup"}}</button>
          </LinkTo>
        </div>
      </div>
    </div>
  </nav>
</footer>
{{/unless}}

{{#if (eq this.model.environment 'production')}}
<script async defer data-website-id="70152a2f-258e-4120-bd2e-9453d38f5f96"
  src="https://www.analytics.wikonnect.org/umami.js"></script>
{{/if}}