{{#unless this.me.isAuthenticated}}

  <footer>
    <nav class="navbar fixed-bottom text-white mt-5  bg-orange justify-content-between ">

      {{t "messages.auth_prompt"}}
      <div>
        <LinkTo @route="login">
          <button type="button" class="btn btn-outline-light float-right mr-2">{{t "buttons.login"}}</button>
        </LinkTo>
        <LinkTo @route="signup">
          <button type="button" class="btn btn-outline-light float-right mr-2">{{t "buttons.signup"}}</button>
        </LinkTo>
      </div>
    </nav>
  </footer>
{{/unless}}