{{#unless me.isAuthenticated}}


  <nav class="navbar fixed-bottom text-white  bg-orange justify-content-between ">

    {{t "messages.auth_prompt"}}
    <div>
      {{#link-to "login"}}
        <button type="button" class="btn btn-outline-light float-right mr-2">{{t "buttons.login"}}</button>

      {{/link-to}}
      {{#link-to "signup"}}
        <button type="button" class="btn btn-outline-light float-right mr-2">{{t "buttons.signup"}}</button>

      {{/link-to}}
    </div>
  </nav>
{{/unless}}