{{#unless me.isAuthenticated}}


  <nav class="navbar fixed-bottom text-white  bg-orange justify-content-between ">

    For an enhanced experience please sign up or login
    <div>
      {{#link-to "login"}}
        <button type="button" class="btn btn-outline-light float-right mr-2">Login</button>

      {{/link-to}}
      {{#link-to "signup"}}
        <button type="button" class="btn btn-outline-light float-right mr-2">Signup</button>

      {{/link-to}}
    </div>
  </nav>
{{/unless}}