<div class="call-to-action">
  <div>
    <h4></h4>
    <p>Sign up/ sign in to view or save your progress</p>
  </div>
  <button>SIGN UP</button>
  <br>
  <p class="padded">
    Already signed up? Log in
  </p>
</div>