<div class="call-to-action">
  <div>
    <h4></h4>
    <p>Sign up/ sign in to view or save your progress</p>
  </div>
  {{#link-to "signup"}}
    <button>SIGN UP</button>
  {{/link-to}}
  <br>
  <p class="padded">
    Already signed up? {{#link-to "login" class="underlined-link"}}Log in{{/link-to}}
  </p>
</div>