{{#link-to "course"  @slug }}
  <div class="course-item">


    <img class="course-image" src="http://placehold.jp/20/{{@color}}/ffffff/140x140.png?text={{@title}}" alt="">
    <div class="course">
      <span>
        <h4>{{@title}}</h4>


      </span>
      <div class="course-description">{{@description}}</div>
      <hr>
      <div class="course-meta"> <span>5 topics </span><span>5 minutes</span></div>

    </div>

  </div>
{{/link-to}}

<hr>