<div class="course-item">
    <span>
        {{#link-to "home"}}
        <h4>{{@title}}</h4>
        {{/link-to}}


        <div class="points">{{@points}} Points</div>
    </span>
    <div class="course-description">{{@description}}</div>
</div>