<div class="course-item">


  <img class="course-image" src="https://placekitten.com/300/147" alt="">
  <div class="course">
    <span>
      {{#link-to "course"  @slug }}
        <h4>{{@title}}</h4>
      {{/link-to}}


    </span>
    <div class="course-description">{{@description}}</div>
    <hr>
    <div class="course-meta"> <span>5 topics </span><span>5 minutes</span></div>

  </div>

</div>
<hr>