<div class="module-item {{if @available "green" "red"}}">

  {{!-- {{#link-to "course" @course "module" @module.id}} --}}


  <div class="module-flex">
    <div class="circle-parent">
      <div class="small-circle"></div>

    </div>

    <div class="module-description">

      {{#link-to "course.module" @module.id }}
        <h3>{{@lesson.name}}</h3>

      {{/link-to}}
      <div>{{@lesson.description}}</div>


    </div>

  </div>
  {{!-- {{/link-to}} --}}

  {{!-- <ul class="submodules">
    <li><span>Chapter 1 : </span> Test Sub Modlue</li>
    <li>Test Sub Modlue</li>
    <li>Test Sub Modlue</li>
  </ul> --}}


</div>