<div class="module-item {{if @available "green" "red"}}">



  <div class="module-flex">


    <div class="module-description">

      {{#link-to "course.module.lesson" @lesson.slug }}
        <h2>{{@lesson.name}}</h2>

      {{/link-to}}
      <div>{{@lesson.description}}</div>
      <br>

      <hr>
    </div>

  </div>


</div>