<div id="white-header" class="build">
  {{#link-to "home"}}
    {{svg-jar "wikonnect-logo-white" class="icon"   height="40"}}

  {{/link-to}}

  <button class="header-hamburger" {{action "opennav"}}>

    {{svg-jar "ic_hamburger_white" class="icon"   height="40"}}
  </button>

</div>