<div class="module-item">

  {{!-- {{#link-to "course" @course "module" @module.id}} --}}


  <img class="module-image" src="https://placekitten.com/300/147" alt="">
  {{#link-to "course.module.index" @module.slug }}
    <h6>{{@module.name}}</h6>

  {{/link-to}}
  {{!-- <div>{{@module.description}}</div> --}}

  <p>~ 5 Minutes</p>



</div>