<div class="module-item {{if @complete "green" "red"}}">
  <div class="circle-parent">
    <div class="small-circle"></div>

  </div>
  <div class="module-description">

    <h3>{{@title}}</h3>
    <div>{{@description}}</div>


  </div>


</div>