<button class="reaction-btn"   {{on "click" (fn @reactAction @model true)}}>
  <MdIcon @icon="thumb-up" @size="15"/>
  <span class="count"> {{@model.likes}}</span>
</button>

<button class="reaction-btn"  {{on "click" (fn @reactAction @model false)}}>
  <MdIcon @icon="thumb-down" @size="15"/>
  <span class="count"> {{@model.dislikes}}</span>
</button>