<div class="social-share-links padded">
  <script>
    window.twttr = (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {}; if (d.getElementById(id)) return t; js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); t._e = []; t.ready = function (f) { t._e.push(f); }; return t; }(document, "script", "twitter-wjs"));
  </script>

  <script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>

  <div>
    <a class="twitter-share-button d-inline" data-size="large">Tweet</a>
  </div>


  <div id="fb-root"></div>
  <div class="fb-share-button d-inline" data-layout="button" data-size="large">
    <a target="_blank" rel="noopener" src="sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
  </div>
</div>