<header class="card__header">
  <p>light theme</p>
  <div class="card__header__switch" {{did-insert (action this.loadMode)}}>
    {{input type="checkbox" id="switch" class="tgl tgl-skewed"
    change=(action this.toggleMode)}}
    <label for="switch">Toggle</label>
  </div>
</header>