
<ul class="d-flex justify-content-between w-75 overflow-auto" id="toc" {{did-insert this.highlight}}>
  <li>Name & Description</li>
  <li>H5P Content</li>
  <li>Thumbnail</li>
  <li>Tags</li>
  <li>Preview & Publish</li>
</ul>

{{yield}}