<div class="voting">
  <span class="votes">
    <b>votes:</b>
    <br>
    <span>0</span>
  </span>
  <button {{action "upvoteLesson" @lessonId }} class="upvote">Upvote</button>
  <button {{action "downvoteLesson" @lessonId }} class="downvote">downvote</button>
</div>