$palette: (
  primary: #F57010,
  studio: #5A47AD,
  windsor: #4E0B80,
  white: #FFFF
);

.badge-popup {
  .modal-dialog {
    max-width: 400px;
  }

  .modal-body {
    background-color: map-get($palette, studio);
    color: map-get($palette, white);

    .title {
      font-size: 24px;
      line-height: 15px;
      font-weight: 500;
      padding-top: 24px;
    }

    .name {
      font-weight: bold;
      font-size: 25px;
      padding-bottom: 15px;
      padding-top: 15px;
    }

    .badge-icon-container {
      margin-top: 60px;

      .badge-icon {
        width: 100%;
        height: auto;
      }
    }

    .points {
      width: max-content;
      background-color: map-get($palette, primary);
      padding: 2px 10px;
      font-size: 20px;
      border-radius: 4px;
      margin: 25px auto 14px;
      font-weight: 500;
    }
  }

  .modal-footer {
    background-color: map-get($palette, studio);
    border: none;

    button {
      width: 100%;
      background-color: map-get($palette, windsor);
      padding-bottom: 10px;
      padding-top: 11px;
      font-size: 20px;
      color: map-get($palette, white);
    }
  }
}
