$palette: (
  primary: #F57010,
  white: #FFFF,
  blue: #007bff,
  gray45:#5E6C73,
  dark: #1E2326,
  terrible: #F05F56,
  bad: #EA7900BC,
  okay: #F1DF5B,
  good: #9ACD32,
  great: #03A543
);

.rating-review-section {
  padding: 0;
  margin: 0;

  .gesture-icon {
    text-align: center;

    svg .a {
      fill: map-get($palette, primary);
    }
  }

  .title {
    font-size: 20px;
    line-height: 28px;
    color: map-get($palette, gray45);
  }

  .subtitle {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: map-get($palette, dark);
  }

  .question .category-title {
    color: map-get($palette, gray45);
    font-size: 16px;
  }

  .question .review-input {
    border-radius: 0;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    resize: none;
  }
}

.preselect-options {
  .preselected-option {
    color: map-get($palette, white);
    background-color: map-get($palette, gray45);
    cursor: pointer;
    box-shadow: none;
    outline: none;
    border: none;

    &.selected {
      background-color: map-get($palette, blue);

    }
  }
}

.rating-group {
  .rating-star, .rating-emoji {
    display: inline-block;
    cursor: pointer;
  }

  .rating-emoji {
    background: none;
    border: none;
    outline: none;

    &:hover svg text,
    &.active svg text {
      fill: map-get($palette, dark);
    }

    &.terrible:hover svg g,
    &.terrible.active svg g {
      fill: map-get($palette, terrible);
      stroke: map-get($palette, terrible);
    }

    &.bad:hover svg g,
    &.bad.active svg g, {
      fill: map-get($palette, bad);
      stroke: map-get($palette, bad);
    }

    &.okay:hover svg g g,
    &.okay.active svg g g {
      fill: map-get($palette, okay);
      stroke: map-get($palette, okay);
    }

    &.good:hover svg g,
    &.good.active svg g {
      fill: map-get($palette, good);
      stroke: map-get($palette, good);
    }

    &.great:hover svg g g,
    &.great.active svg g g {
      fill: map-get($palette, great);
      stroke: map-get($palette, great);

    }
  }

}

.rating-review-feedback-modal {
  .modal-header {
    border: none;

    .close {
      font-weight: 400;
    }
  }

  .modal-body {
    text-align: center;

    .gesture-icon {
      .ok {
        background-color: map-get($palette, primary);
        border-radius: 50%;
        height: 100px;
        width: 100px;
        display: inline-block;

        &:after {
          content: " ";
          display: block;
          border-color: map-get($palette, white);
          border-style: solid;
          width: 1.2em;
          height: 2.7em;
          border-width: 0 .4em 0.4em 0;
          position: absolute;
          left: 48%;
          top: 12%;
          margin-top: -0.2em;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }

    .title {
      font-size: 24px;
      line-height: 20px;
      letter-spacing: -0.24px;
      font-weight: bold;
      color: map-get($palette, primary);
    }

    .subtitle {
      font-size: 15px;
      font-weight: 500;
      color: map-get($palette, gray45);
    }
  }

}
