$palette: (
  primary: #F57010,
  grey45: #9DA3A2,
  grey75: #B0BABF
);

.tags-filter-dropdown {
  margin-right: 8px;

  .tags-filter-dropdown-button {
    padding: 3px 8px;

    &:after {
      content: none;
    }

    &:focus {
      box-shadow: none !important;
    }
  }

  .tags-filter-dropdown-menu {
    min-width: 316px;
    border-radius: 3px;
    max-height: 400px;
    overflow-y: scroll;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .075);

    .tag-select-item {
      padding: 8px 15px;
      cursor: pointer;

      label {
        text-align: left;
        font-size: 15px;
        color: #5C6267;
        font-weight: normal;
        margin: 0;
      }

      &:hover {
        background-color: #F7F9FA;
      }
    }
  }
}

.tags-filter-dropdown-menu {
  .filter-tags-search {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 8px;

    .input-group-text {
      background-color: transparent;
      border-color: transparent;
      padding-left: 0;
      padding-right: 0;
    }

    .search-input {
      box-shadow: none;
      border-radius: 3px;
      border-color: transparent;

      &::placeholder,
      &::-webkit-input-placeholder {
        color: map-get($palette, grey45);
        font-size: 12px;
      }
    }
  }

  .header {
    font-size: 10px;
    color: map-get($palette, grey45);
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 12px;
  }

  .btn-clear {
    padding: 0;
    margin: 0;
    background: transparent;
    font-size: 10px;
    color: map_get($palette, grey45);
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border: none;
    box-shadow: none;
    outline: none;

    &.active {
      color: map_get($palette, primary);;
    }
  }

}

.tag-list {
  padding: 0;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .tag-button {
    border-radius: 3px;
    font-size: 12px;
    padding: 2px 6px 3px;
    height: 32px;
    margin-right: 8px;
    outline: none;
    box-shadow: none;
    border-color: map-get($palette, grey75);
    color: map-get($palette, grey75);
    white-space: nowrap;
    display: flex;
    align-items: center;
    flex-flow: nowrap;

    &:hover,
    &:focus,
    &:active {
      color: map-get($palette, grey75);
      background-color: #f7f7f7 !important;
      border-color: #f7f7f7 !important;
      box-shadow: none !important;
    }
  }
}

.tags-row-section {
  overflow-y: hidden;
}

.tags-section-container {
  .clear-tags-btn {
    border-width: 0 0 2px 0;
    padding: 0;
    font-size: 12px;
    border-radius: 0;
    white-space: nowrap;

    &:hover, &:focus, &:active {
      background-color: transparent;
      color: $primary;
      box-shadow: none;
      border-width: 0 0 2px 0;

    }

    &.hidden-sm {
      color: #829199;
      padding: 7px;
      line-height: 1.5;
      border: none;

      &:hover, &:focus, &:active {
        border-width: 0;
        background-color: transparent;
        color: $primary;
        box-shadow: none !important;
      }
    }

  }
}
