@import 'common/forms';
@import 'common/colors';
//@import "bs4";
//@import 'header';
@import 'landing';
@import 'home';
@import 'courses';
@import 'nav';
@import 'search';
@import "warning-component";
@import 'common/typography';
@import 'profile';
@import "cms-desktop";
@import "common/utils";
@import 'toc-component';

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

.h40 {
  height: 40px;
}

.h80 {
  height: 80px;
}

body {
  font-family: 'Inter var', sans-serif;

}

.kkl-cover {
  background-image: url(/images/cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 500px;
}

.kkl-jumbo-text {
  color: white;
  width: 100%;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom,
      from(rgba(252, 113, 0, 0)), to(rgba(0, 0, 0, 1)));
}

body {
  margin-bottom: 60px;
  /* Margin bottom by footer height */
}


.replaced {
  visibility: hidden;
  position: relative;
}

.replaced:after {
  visibility: visible;
  position: absolute;
  top: 0;
  border-radius: 5px;
  width: 100%;
  background-color: orangered;
  text-align: center;
  padding: 4px;
  display: block;
  left: 0;
  content: "Check it out";
}

.add-pre {
  white-space: pre-line;
}

button.like {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

button.dislike {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.icon {
  display: inline-block;
  width: 70px;
  height: 40px;
  background-size: cover;
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

pre {
  white-space: pre-wrap;
  /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.sub-link {
  color: orange;
  margin-right: 1em;
  font-weight: bold;
}

.ember-file-drop-zone {
  width: 20em;
  height: 10em;
  border: 2px dashed #707070;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.drop-area {
  background-color: #EBF0F2;
  height: 300px;
}

#myDropdown .form-control {
  width: 15rem;
}


.form-control:focus:not(.is-invalid) {
  border-color: #6610f2;
  box-shadow: 0 0 0 1px #c6bbf4;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #b3a4f1;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(87 54 224 / 25%);
}

//@import "ember-bootstrap/bootstrap";
//@import "ember-power-select";


@import "reaction-buttons";
@import "h5p-list-item";
@import "single-chapter";
@import "comments.scss";
@import "tags-list";
@import "custom-checkbox";
@import "h5p-editor";
@import "loader";
@import "teach-login";
@import "forgot-password";
@import "rating-and-review";
@import "auth";
@import "teacher/teacher";
@import "h5p-player";