@import 'common/forms';
@import 'common/buttons';
@import 'common/colors';
@import 'header';
@import 'landing';
@import 'home';
@import 'courses';
@import 'modules';
@import 'nav';
@import 'search';
@import "warning-component";
@import 'common/typography';
@import 'profile';
@import "cms-desktop";
@import "common/utils";
@import "moja";
// @import "ember-modal-dialog/ember-modal-structure";
// @import "ember-modal-dialog/ember-modal-appearance";


@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

body {
  font-family: 'Inter var', sans-serif;

}

@import "ember-bootstrap/bootstrap";
@import "ember-power-select";