.auth-form {
  text-align: left;
  padding: 1rem;
  width: 500px;
  margin: 2%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 13px 4px rgba(189, 182, 189, 0.34);
  -moz-box-shadow: 0px 0px 13px 4px rgba(189, 182, 189, 0.34);
  box-shadow: 0px 0px 13px 4px rgba(189, 182, 189, 0.34);
  background-color: white;

  h1 {
    font-weight: bold;
    font-size: 2rem;
    margin: 4rem;
    position: relative;
    top: 60px;
  }

  button,
  button:hover,
  button:focus {
    border-color: #f8f8ff;
  }
}

.line-text {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #B0BABF;
  line-height: 0.1em;
  margin: 47px 0 40px;
}

.line-text span {
  background: #fff;
  color: #3F484D;
  padding: 0 10px;
}


.btn-facebook {
  background-color: #1877F2;
}

.btn-facebook:hover {
  background-color: #4389e6;
  box-shadow: 4px 4px 0 #888;
}

.btn-linkedIn {
  background-color: #0077B5;
}

.btn-linkedIn:hover {
  background-color: #115980;
}