#courses {
  @include pages-main;

}

.breadcrums {
  font-size: 10dp;
}

.holdup {
  background-color: #DCFBF0;
  font-size: 12px;
  padding: 1em;
  display: flex;
  flex-direction: row;

  span {
    font-size: 25px;
    color: red;
    padding-right: 17px;
  }

}

.submodules {
  // list-style: none;
  margin: 0px;
  padding: 0px;
  list-style: none;
  padding-bottom: 10px;

}

@mixin sublist ($bgcolor, $highlight-color) {
  margin-bottom: 5px;
  padding: 7px;
  margin-right: 7px;
  font-size: 10px;
  border-radius: 10px;
  background-color: $bgcolor;

  span {
    color: $highlight-color;
  }

}

.modules {
  margin-top: 1em;

  h2 {
    color: $primary-dark;
    font-size: 18px;

  }

  h6 {
    color: black;
    font-size: 14px;
    font-weight: 500;

  }

  hr {
    padding: 0;
    margin: 0;
    margin-bottom: 1em;
    ;
  }

  p {
    font-size: 10px;
  }

  .modules-list {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    align-content: space-around;
    flex-direction: row;
  }

  .module-image {
    padding-right: 1em;
    width: 100%;
    border-radius: 7px;

  }

  .module-item {
    flex: 0 50%;

  }

}