.forgot-password {
  text-align: left;
  margin-top: 3%;
  // padding: 2rem;
  max-width: 400px;
  height: 500px;
  margin: 2%;
  background-color: white;

  h1 {
    font-weight: bold;
    font-size: 2rem;
  }

  header {
    margin-bottom: 1rem;
    padding: 0.5rem;
    height: 30%;
    background-color: lighten(#F57010, 10%);
    background-image: url('/images/logo-background.png');
    color: white;
    display: flex;
    align-items: center;
  }

  p {
    color: #5e6c73;
  }
}
