$palette: (
  primary: #f57010,
  white: #ffffff,
  gray30: #3f484d,
  gray45: rgb(94, 108, 115),
  gray60: #829199,
  gray75: #b0babf,
  gray95: #ebf0f2,
  black: #000000,
  mystic: #ebf0f2,
);

.chapter-thumbnail {
  min-height: 175px;
  background-color: lighten(map-get($palette, primary), 30%);
}

.chapter-metadata {
  .verified-icon {
    fill: map-get($palette, primary);
  }

  .watch-icon,
  .eye-icon {
    fill: map-get($palette, gray75);
  }

  font-size: 12px;
  font-family: 'Inter', serif;
  color: map-get($palette, gray75);
}

.chapter-description {
  .card-text {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 38px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.3;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.chapter-creator {
  img {
    width: 30px;
  }

  font-size: 15px;
  font-family: 'Inter', serif;
  color: map-get($palette, gray75);
}

.chapter-tags-list {
  font-size: 12px;
  .tag {
    display: inline-block;
    padding: 0.3em 0.6em;
    font-size: 90%;
    text-align: center;
    white-space: nowrap;
    background-color: map-get($palette, mystic);
    color: map-get($palette, gray45);
    border-radius: 4px;
    margin: 0 0 5px 0;
  }
}
