#home {
  @include pages-main;



  h3 {
    font-size: 24px;
    color: $dark-blue;
  }

  p {
    font-size: 13px;

  }

}

.heading {
  padding: 1.3em;
}

.moja-hazina {
  border: none;
  height: 180px;
  overflow: hidden;
  width: 350px;
  background-color: white;


}

.alert {
  margin-top: 1em;
  display: flex;
  border-style: solid;

  background-color: #FFEDF0;
  border-color: #FDD6DD;
  border-width: 1px;
  justify-content: space-around;
  color: #D56679;


  .alert-text {
    font-size: 13px;
    margin: 3px;

  }

  .alert-icon {
    padding-right: 7px;
    display: flex;
    align-content: center;
  }

}

.course-item {


  margin-top: 1em;
  display: flex;
  justify-content: flex-start;

  hr {
    margin: 0px;
    padding: 0px;

  }

  .course-image {
    height: 70px;
    width: 70px;
    background-color: #8130e3;
    margin-right: 1em;
    border-radius: 7px;
  }

  .course {
    flex: 1;
  }

  .course-meta {
    padding: 0px;
    margin: 0px;
    display: flex;
    font-size: 12px;
    font-weight: 400;
    justify-content: space-between;
  }

  .course-description {
    color: #656565;
    font-size: 14px;
  }

  span {
    display: flex;
    flex-shrink: 2;
    justify-content: space-between;

    .points {
      font-size: 12px;
    }

    h4 {
      font-size: 18px;
      color: black;
    }
  }
}