#home {
  //@include pages-main;


  h3 {
    font-size: 24px;
    color: $dark-blue;
  }

  p {
    font-size: 13px;

  }

}

.heading {
  padding: 1.3em;
}

.ember-notify {
  &.alert {
    &.alert-success ,
    &.alert-success .close{
      color: white;
      background-color: #4caf50;
      font-weight: 400;
      opacity: 1;
    }
    &.alert-danger ,
    &.alert-danger .close{
      color: white;
      background-color: #f44336;
      font-weight: 400;
      opacity: 1;
    }
  }
}

.chapter-filters-section {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.course-item {


  margin-top: 1em;
  display: flex;
  justify-content: flex-start;

  hr {
    margin: 0px;
    padding: 0px;

  }

  .course-image {
    height: 70px;
    width: 70px;
    background-color: #8130e3;
    margin-right: 1em;
    border-radius: 7px;
  }

  .course {
    flex: 1;
  }

  .course-meta {
    padding: 0px;
    margin: 0px;
    display: flex;
    font-size: 12px;
    font-weight: 400;
    justify-content: space-between;
  }

  .course-description {
    color: #656565;
    font-size: 14px;
  }

  span {
    display: flex;
    flex-shrink: 2;
    justify-content: space-between;

    .points {
      font-size: 12px;
    }

    h4 {
      font-size: 18px;
      color: black;
    }
  }
}

.chapters-infinity-loader{
  .infinity-loader {
    padding-bottom: 50px;
    .loading-indicator {
      text-align: center;
    }
    .records-loaded-indicator{
      display: none;
    }
    &.reached-infinity{
      .loading-indicator{
        display: none;
      }
      .records-loaded-indicator{
        display: block;
      }
    }
  }
}
