#landing {
  background-color: $primary-purple;
  // @include pages-main;
  padding: 2em;
  color: white;
  height: 100%;

  button {
    border-radius: 7px;
    width: 100%;
    height: 3em;
    margin-top: 1em;

    color: white;
  }

}

.centered {
  padding-top: 1em;
  width: 100%;
  text-align: center;
}

.page-content {

  padding-top: 70px;
}

@mixin btnx {
  padding: 10px;
  text-align: center;
  border-radius: 7px;
  color: white;
  margin-top: 8px;

  btnx:hover {
    background-color: white;
    color: black;
    text-decoration: none;

  }
}

.learn {
  @include btnx;

  background-color: #F57010;
  border: 0;

}

.teach {
  @include btnx;

  background-color: #32A583;
  border: 0;

}

.buildr {
  @include btnx;
  background-color: #FFCF00;
  border: 0;

}

.login {
  @include btnx;
  color: white;
  border-style: solid;
  border-width: 2px;
  background: none;
  border-color: white;
}



@mixin header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  background-color: $primary-purple;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  z-index: 999;
}

.white-header {
  @include header;
  background-color: $primary-purple;
}

.orange-header {
  @include header;

  background-color: #F57010;
}

.auth-header {
  @include header;

  background-color: #FAF1DB;
}

.yellow-header {
  @include header;

  background-color: #fecf00;
  background-image: $profile-image;
}

.green-header {
  @include header;

  background-color: #32a583;
}

.bg-green {
  background-color: #32a583;
  color: white;

}

.bg-yellow {
  background-color: #fecf00;
  color: black;
}

.bg-orange {
  background-color: #F57010;
  color: white;
}

.bg-red {
  background-color: #DE4830;
  color: white;
}

.bg-purple {
  background-color: $primary-purple;
  color: white;
}