$palette: (
  primary: #F57010,
  white: #FFFF,
  darkCharcoal: rgba(87, 92, 88, 1),
  teach: #32A583,
  eucalyptus: #28A745,
  cardBoxShadow: rgba(0, 0, 0, 0.29),
  gray30: #3F484D,
  gray95: #EBF0F2,
  aliceBlue: #F7FCFF,
  bombay: #B2B4B6,
  bonjour: #EAE7E7,
  black: #000000,
  gallery: #F0F0F0,
);

.main-header {

  .navbar-nav {
    .nav-link {
      color: #FFFFFF;

      &.active {
        color: #FFFFFF;
        font-weight: bold;
      }

      &:hover, {
        color: #FFFFFF;
      }
    }

    .show > .nav-link {
      color: #FFFFFF;
    }
  }
}

.main-header {
  .search-form {
    .search-input {
      border-radius: 3px 0 0 3px;
      margin-right: -1px !important;
      padding-right: 0;
      border: 0;

    }

    .search-button {
      background: #FAF1DB;
      color: white;
      border-radius: 0;

      .search-icon {
        color: white
      }
    }
  }

  .navbar-toggler {
    color: #FFFFFF;
    border-color: transparent;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
  }
}

.wk-tabs-menu.tabs-menu {
  .nav-item {
    margin-bottom: -2px;

    .nav-link {
      color: map-get($palette, gray30);
      font-size: 16px;
      font-weight: 600;
      position: relative;

      &.active:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1px;
        border: solid 2px map-get($palette, primary);
        width: 80%;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }

  &.border-bottom {
    border-bottom: solid 1px map-get($palette, bombay);
  }
}


/**
On large screen
 */
@media (min-width: 992px) {

  .main-header {
    height: 60px;
  }
}
