.profile {
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  align-content: flex-start;
}

.profile-title {
  display: flex;
  justify-content: space-between;
}

.profile-name {
  margin-left: 120px;
  margin-top: 25px;

}

.achievement .card{
  margin: 15px 0;
  background: #FAFAF5 0% 0% no-repeat padding-box;
  border-radius: 11px;
  opacity: 1;
  flex-direction: row;
  border: 1px solid #FAFAF5;

  .card-header{
    display: unset;
    border-bottom: unset;
    background: #FAFAF5 0% 0% no-repeat padding-box;
  }
  img {
    margin: 10px 0 0 10px;
  }
  p{
    margin-bottom: 3px;
  }

  .badgeName {
    text-align: left;
    font: "Semi Bold 10px/16px Inter";
    letter-spacing: 0px;
    color: #08BC87;
    opacity: 1;
  }
  .description{
    text-align: left;
    font: "Semi Bold 15px/16px Inter";
    letter-spacing: 0px;
    color: #201C2F;
    opacity: 1;
  }
  .created{
    font: "Regular 14px/18px Inter";
    letter-spacing: 0px;
    color: #9DA3A2;
    opacity: 1;
  }
  .fa-share-square {
    opacity: 1;
    color: #F57010;
    font-size: 1rem;
    margin-left: 0;
  }
}

.profile-acheivements {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-around;

  h2 {
    font-weight: 500;
    font-size: 39px;
  }

  p {
    font-size: smaller;
    font-weight: 300;
  }

}


.profile-submit {
  background-color: $primary-purple;
}

.profile-picture {
  position: absolute;
  top: 100px;
  width: 100px;
  border-radius: 50px;
  margin-right: 10px;
}

.profile-head {
  background-image: $profile-image;
  background-color: $primary-yellow;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.profile-edit {
  background-color: red;
  width: 4em;
  padding-right: 2em;
  border-radius: 1em;
}

.profile-data {
  display: flex;
  flex-direction: column;
  justify-content: center;

}