.profile {
  display: flex;
  flex-direction: column;
  // justify-content: flex-start;
  align-content: flex-start;
}

.profile-title {
  display: flex;
  justify-content: space-between;
}

.profile-name {
  margin-left: 120px;
  margin-top: 25px;

}

.achievement {
  display: flex;
  flex-direction: row;
  padding-top: 7px;

  img {
    margin-top: 6px;
    padding-right: 8px;
  }


}

.profile-acheivements {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-around;

  h2 {
    font-weight: 500;
    font-size: 39px;
  }

  p {
    font-size: smaller;
    font-weight: 300;
  }

}

.profile-body {}

.profile-submit {
  background-color: $primary-purple;
}

.profile-picture {
  position: absolute;
  top: 100px;
  width: 100px;
  border-radius: 50px;
  margin-right: 10px;
}

.profile-head {
  background-color: $primary-purple;
  color: white;
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.profile-edit {
  background-color: red;
  width: 4em;
  padding-right: 2em;
  border-radius: 1em;
}

.profile-data {
  display: flex;
  flex-direction: column;
  justify-content: center;

}