.signup-form {
  text-align: left;
  width: 500px;
  height: 100%;
  margin: 2%;
  margin-bottom: 30%;
  background-color: white;

  h1 {
    font-weight: bold;
    font-size: 2rem;
  }

  form {
    padding: 0 2rem;
  }

  header {
    padding: 0.5rem;
    height: 150px;
    background-color: lighten(#f57010, 10%);
    background-image: url('/images/logo-background.png');
    color: white;
    display: flex;
    align-items: center;
  }

  .line-text {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #b0babf;
    line-height: 0.1em;
    margin: 47px 0 40px;
  }

  .line-text span {
    background: #fff;
    color: #3f484d;
    padding: 0 10px;
  }

  button {
    border-color: #f8f8ff;
  }

  .btn-facebook {
    background-color: #1877f2;
  }

  .btn-linkedIn {
    background-color: #0077b5;
  }
}
