.signup-form {
  text-align: left;
  width: 500px;
  height: 100%;
  margin: 2%;
  margin-bottom: 30%;
  background-color: white;

  h1 {
    font-weight: bold;
    font-size: 2rem;
  }

  form {
    padding: 0 2rem;
  }

  header {
    padding: 0.5rem;
    height: 150px;
    background-color: lighten(#F57010, 10%);
    background-image: url('/images/logo-background.png');
    color: white;
    display: flex;
    align-items: center;
  }
}
