.breadcrumbs {
  color: #829199;
  font-size: small;
  font-weight: bold;

  p {
    margin: 0 0.7rem;
    span.chapter-name {
      margin-left: 0.5rem;
    }
  }
}

.chapter-actions {
  width: 100px;
}

.single-chapter-creator {
  display: flex;
  align-items: center;
  font-size: 15px;

  .verified-icon {
    fill: #f57010;
  }

  p {
    margin: 0;
  }

  img {
    width: 40px;
  }
}

.chapter-content {
  .chapter-description {
    color: #829199;
  }
}
