$palette: (
  primary: #F57010,
  white: #FFF,
  gray60: #829199,
  lighterPrimary: #FDE9DA
);
.breadcrumbs {
  color: #829199;
  font-size: small;
  font-weight: bold;

  p {
    margin: 0 0.7rem;
    span.chapter-name {
      margin-left: 0.5rem;
    }
  }

  a {
    color: inherit;
  }
}

.chapter-actions {
  height: 100%;
}

.single-chapter-creator {
  display: flex;
  align-items: center;
  font-size: 15px;

  .verified-icon {
    fill: #f57010;
  }

  p {
    margin: 0;
  }

  img {
    width: 40px;
  }
}

.chapter-content {
  .chapter-description {
    color: #829199;
  }
}

.share {
  button {
    border: none;
    outline: none;
    background-color: inherit;
  }
}

.social-share-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
}

#facebook-share-icon {
  background-color: #4267B2;
}


#twitter-share-icon {
  background-color: #1DA1F2;
}

#email-share-icon {
  background-color: grey;
}

#reddit-share-icon {
  background-color: #FF4500;
}

#facebook-share-icon svg path,
#twitter-share-icon svg path,
#reddit-share-icon svg path {
  fill: white !important;
}

.share-modal-container {
    background: #222;
    color: white;
    margin-left: -25px;
    margin-top: 10px;
    width: 300px;
    border-radius: 0;
}

.reaction-feedback-popover {
  background-color: map-get($palette,lighterPrimary);

  .arrow:before,.arrow:after {
    border-bottom-color: map-get($palette,lighterPrimary);
  }

  .btn-close {
    padding: 0;
    background-color: map-get($palette,white);
    border-radius: 50%;
    outline: 0;
    border-color: transparent;
    height: 20px;
    width: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: map-get($palette,gray60);
  }

  .title{
    font-weight: 600;
    font-size: 16px;
    color: map-get($palette,primary);
  }
}
