<div class="form-title">Log In</div>

<BsForm @class="form" @formLayout="vertical" @model={{registeredUser}} @onSubmit={{action "login"}} as
  |form|>
  {{#each registeredUser.errors as |err| }}
  {{#if (eq err.key 'errors')}}
  <BsAlert @type="danger" @fade={{true}}>
    {{err.validation}}
  </BsAlert>
  {{/if}}
  {{/each}}

  <div class="login-form-fields">
    <form.element class="inputs" id="username" @controlType="text" @label="Username" @placeholder="Username"
      @property="username" @autocomplete="username" />

    <form.element id="password" class="inputs" @controlType="password" @label="Password" @placeholder="Enter Password"
      @property="password" @autocomplete="new-password" />

  </div>

  <BsButton class="submit" @type="primary" @defaultText="Login" @buttonType="submit" />
</BsForm>