<BsForm @class="signup-form" @formLayout="horizontal" @model={{newUser}} @onSubmit={{action "createUser"}} as |form|>
  <div class="signup-form-title">Register</div>
  <div class="signup-form-fields">
    <form.element class="signup-username" @controlType="text" @label="Username" @placeholder="Username" @property="username" @autocomplete="username" />

    <form.element class="signup-email" @controlType="text" @label="Email address" @placeholder="example@mail.com" @property="email" @autocomplete="email" />

    <form.element class="signup-password" @controlType="password" @label="Password" @placeholder="Enter Password" @property="password" @autocomplete="new-password" />

    <form.element class="signup-confirm-password" @controlType="password" @label="Repeat password" @placeholder="Repeat Password" @property="passwordConfirmation" />
  </div>

  <BsButton class="signup-submit" @type="primary" @defaultText="Sign Up" @buttonType="submit" />
</BsForm>