<div class="d-flex admin-base">
  <Admin::Sidenav class=""></Admin::Sidenav>
  <div class="main-content-wrapper">
    <Admin::MainHeader></Admin::MainHeader>
    {{outlet}}

    <EmberNotify @messageStyle="bootstrap" @closeAfter={{30000}} />

  </div>

</div>