{{outlet}}
<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center mt-5">
      <h3 class="">{{t "callback.custom" }}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      {{ svg-jar 'loader' class="callback"}}
    </div>
  </div>
</div>