{{outlet}}
<div id="home" class="padded">
    <hr>
    <div>
        <img src="https://dummyimage.com/300x100/272727" width="100%" />
    </div>

    <br>
    <h3>
        Courses
    </h3>
    <p>Learn a new skill! The topics each tackle related subjects. Select a topic to follow through and monitor your
        progress. Earn moja points for each topic completed.</p>


    <h2>
        What would you like to learn today?
    </h2>

    <CourseItem @title="Internet usage, URL, websites"
        @description="This topic contains swagpaths on business management and administration, entrepreneurship, business communication, finance."
        @points="5" />
    <CourseItem @title="Internet usage, URL, websites"
        @description="This topic contains swagpaths on business management and administration, entrepreneurship, business communication, finance."
        @points="5" />
    <CourseItem @title="Internet usage, URL, websites"
        @description="This topic contains swagpaths on business management and administration, entrepreneurship, business communication, finance."
        @points="5" />



    <Footer />
</div>