<div class="container">
  {{#each allTags as |chapter|}}

    {{chapter}}
  {{/each}}

  <div class="row mt-5">
    {{#each model as |chapter|}}

      <H5pListItem @chapter={{chapter}} />
    {{/each}}
  </div>
</div>