<div id="home">
  <div class="heading">
    <h2>Courses</h2>
    <p>Each module covers a broad area of knowledge divided into five related topics.</p>
  </div>

  <div class="padded">
    <div class="alert">
      <div class="alert-icon"> <span>&#9888;</span> </div>
      <div class="alert-text">Please create an account to save your progress and earn moja points</div>
      <div class="alert-close"> <span>&#88;</span> </div>
    </div>

    {{#each this.model as |course_item|}}
      <CourseItem @title={{course_item.name}} @description={{course_item.description}} @points="5"
        @slug={{course_item.slug}} @id={{course_item.id}} />
    {{/each}}

  </div>



</div>