<div class="container">


  <div class="row mt-5">
    {{#each this.allChapters as |chapter|}}
    {{ log chapter}}

      <H5pListItem @chapter={{chapter}} @image={{chapterImage}} />
    {{/each}}
  </div>
</div>