<div id="landing">
  <div>
    <h1>Empower yourself in a digital world.</h1>
  </div>
  <div>
    Learn how the digital world affects your brain, gain new skills, share your knowledge with others or help build
    a
    great product available to all.
  </div>

  <div>
    {{#link-to "home"}}
      <button class="learn">
        Learn
      </button>
    {{/link-to}}
    {{#link-to "course.create"}}
      <button class="teach">
        Teach
      </button>
    {{/link-to}}
    <a href="http://github.com/tunapanda/wikonnect">
      <button class="build">
        Build
      </button>
    </a>
    <div class="centered">
      Have a Wikonnect account?
    </div>
    {{#link-to "login"}}
      <button class="login">
        Log In
      </button>
    {{/link-to}}
  </div>
</div>