{{outlet}}
<div id="landing">
    <hr>

    <div class="welcome">
        Learn about the wonderful resource that's the internet and how to navigate it.
        <br>
        <span>Welcome to Wikonnect</span>
    </div>

    <div class="def">
        <img src="https://placekitten.com/g/300/200" style="width:100%;">
        <p>Wikonnect is to school books what Wikipedia is to encyclopedias</p>
    </div>

    <div class="get-started">
        <img src="https://dummyimage.com/300x150/0011ff/0011ff" style="width:100%;">

        <p>Get Started ></p>
    </div>

    <div class="how-video">
        <h6>How wikonnect works</h6>
        <img src="https://dummyimage.com/300x150/272727" style="width:100%;">
    </div>

    <div>
        <h6>What makes wikonnect unique</h6>
        <p>Wikonnect is a gamified open source elearning platform meant for delivering education content especially in
            areas
            without internet connection. It allow users to create and share their content within the platform without
            the
            need for internet.</p>
    </div>

    <div id="features">
        <div>
            <span class="circle"></span>
            <p>Learn to earn <br>Gain <b>moja</b> points</p>
            <a href="#">Learn More<span>&#8594;</span> </a>
        </div>

        <div>
            <span class="circle"></span>
            <p>Download now, <br>see later</p>
            <a href="#">Learn More<span>&#8594;</span> </a>
        </div>

        <div>
            <span class="circle"></span>
            <p>Track your <br>
                Progress</p>
            <a href="#">Learn More <span>&#8594;</span> </a>
        </div>

        <div>
            <span class="circle"></span>
            <p>Create and <br>share content</p>
            <a href="#">Learn More<span>&#8594;</span> </a>
        </div>

    </div>

    <Footer />
</div>