<div id="landing">
  <div>
    <h1>Empower yourself in a digital world.</h1>
  </div>
  <div>
    Learn how the digital world affects your brain, gain new skills, share your knowledge with others or help build
    a
    great product available to all.
  </div>

  <div>
    <button class="learn">
      Learn
    </button>
    <button class="teach">
      Teach
    </button>
    <button class="build">
      Build
    </button>
    <div class="centered">
      Have a Wikonnect account?
    </div>
    <button class="login">
      Build
    </button>
  </div>
</div>