<div id="landing">
  <div>
    <h1>Empower yourself in a digital world.</h1>
  </div>
  <div>
    Learn how the digital world affects your brain, gain new skills, share your knowledge with others or help build
    a
    great product available to all.
  </div>

  <div>
    {{#link-to "home"}}
      <div class="learn">
        Learn
      </div>
    {{/link-to}}

    <a href="https://teach.wikonnect.org">
      <div class="teach">
        Teach
      </div>
    </a>
    <a href="http://github.com/tunapanda/wikonnect">
      <div class="buildr">
        Build
      </div>
    </a>






    {{#unless me.isAuthenticated}}
      <div class="centered">
        Have a Wikonnect account?
      </div>
      {{#link-to "login"}}
        <button class="login">
          Log In
        </button>
      {{/link-to}}
    {{/unless}}
  </div>

</div>