<div id="landing">
  <div>
    <h1>Empower yourself in a digital world.</h1>
  </div>
  <div>
    Learn how the digital world affects your brain, gain new skills, share your knowledge with others or help build
    a
    great product available to all.
  </div>

  <div>
    {{#link-to "home"}}
    <div class="learn">
      Learn
    </div>
    {{/link-to}}

    <a href="https://teach.wikonnect.org">
      <div class="teach">
        Teach
      </div>
    </a>
    <a href="https://github.com/tunapanda/wikonnect">
      <div class="buildr">
        Build
      </div>
    </a>

    <div class="display-4 bg-orange kkl-jumbo-text p-4">Welcome to Keep Kenya Learning</div>
  </div>

  <div class="row p-5">


    <div class="col-sm">
      <h4 class="text-primary">Why we exist</h4>
      <p>
        We support Kenyan families and teachers who want to provide learning opportunities for children whether schools
        are open or closed.
      </p>
    </div>
    <div class="col-sm">
      <h4 class="text-primary">What we offer</h4>
      <p>
        Find fun learning activities aligned with 8-4-4 and the new Competency Based Curriculum (CBC). Update your
        profile
        to
        see activities for your children’s ages and interests.
      </p>
    </div>
  </div>
</div>