<div class="form-title">Reset Password</div>

<BsForm @class="form" @formLayout="vertical" as |form|>
  <div class="login-form-fields">
    <form.element class="inputs" id="username" @controlType="password" @label="Username" @placeholder="New password"
      @property="username" @autocomplete="username" />

    <form.element id="password" class="inputs" @controlType="password" @label="Password" @placeholder="Confirm Password"
      @property="password" @autocomplete="new-password" />

  </div>

  <BsButton class="submit" @type="primary" @defaultText="Reset" @buttonType="submit" />
</BsForm>