<div class="password-reset">
  <header>
    <h1>Reset Password</h1>
  </header>
  <form class="px-3" {{on "submit" this.resetPassword}}>
  <p>Enter your email address and we'll send you a link to reset your password.</p>
    <div class="form-group">
      <label for="email">
        Email Address
      </label>
      <input class="form-control" placeholder="Enter email" type="email" name="email" id="email">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
  </form>
</div> 