<div class="form-title">Password Reset</div>

<BsForm @class="form" @formLayout="vertical" as |form|>
  {{#each registeredUser.errors as |err| }}
    {{#if (eq err.key "errors")}}
      <BsAlert @type="danger" @fade={{true}}>
        {{err.validation}}
      </BsAlert>
    {{/if}}
  {{/each}}

  <div class="login-form-fields">
    <form.element class="inputs" id="password" @controlType="password" @label="New Password" @placeholder="Password"
      @property="password" />
    <form.element class=" inputs" id="password" @controlType="password" @label="Confirm Password"
      @placeholder="Password" @property="password" />

  </div>

  <BsButton class=" submit" @type="primary" @defaultText="Change Password" @buttonType="submit" />
</BsForm>