<div class="container">

  <div class="row m-5" id="search-results-section">
    {{#if this.model}}

      {{#each this.model as |chapter|}}

        <H5pListItem @chapter={{chapter}} />
      {{/each}}
    {{else}}
      {{t "messages.empty_search"}}

    {{/if}}

  </div>
</div>