{{!-- <div class="searchpage padded mt-2">
  <div class="row">
  </div>


  <div class="row mt-5 card-columns">
    {{#each model as |chapter|}}

      <H5pListItem @chapter={{chapter}} />
    {{/each}}
  </div>




</div> --}}

{{outlet}}

<div class="container">

  <div class="row m-5">

    {{#each model as |chapter|}}

      <H5pListItem @chapter={{chapter}} />
    {{/each}}


  </div>
</div>