<div class="searchpage padded">
  <div class="search">
    <input type="text" name="search" id="search" class="search-input" placeholder="">
    <button>Find</button>
  </div>
  <hr>
  <h3>Result</h3>
  <div class="result">
    <SearchResultItem @title="Web Browser" @description="This is the web browser" @link="home" />
    <SearchResultItem @title="Web Browser" @description="This is the web browser" @link="home" />
    <SearchResultItem @title="Web Browser" @description="This is the web browser" @link="home" />
    <SearchResultItem @title="Web Browser" @description="This is the web browser" @link="home" />
    <SearchResultItem @title="Web Browser" @description="This is the web browser" @link="home" />
    <SearchResultItem @title="Web Browser" @description="This is the web browser" @link="home" />
  </div>
</div>