<div class="row">
  <div class="alert alert-primary container-fluid" role="alert">
    <strong>
      To create H5P you can use Lumi available for free
    </strong>
    <a href="http://lumi.education" class="btn bg-green btn-sm float-right mr10">Get Lumi </a>

  </div>
</div>
{{outlet}}