<div class="leader-card {{@position}} d-flex flex-column">
  <div class="d-flex justify-content-between">
    <div class="d-flex">
      <div class="image-container">
        <img
          src="/images/profile-placeholder.gif"
          class="user-profile-image"
          alt=""
        />
      </div>
      <div class="details d-flex flex-column">
        <span class="name">
          Jane Doe
        </span>
        <span class="location">
          Nairobi
        </span>
      </div>
    </div>
    <div class="right d-flex flex-column">
      <span class="points">
        3,000
      </span>
      <span class="points-title">
        {{t 'leaderboard.earnedPoints'}}
      </span>
    </div>
  </div>
  <hr class="w-100" />
  <div class="d-flex justify-content-between">
    <div class="badges-list">
      <div class="badge-icon-container">
        <img
          src="/images/badges/badge1.png"
          class="badge-icon"
          alt=""
          role="presentation"
        />
      </div>
      <div class="badge-icon-container">
        <img
          src="/images/badges/badge1.png"
          class="badge-icon"
          alt=""
          role="presentation"
        />
      </div>
      <div class="badge-icon-container">
        <img
          src="/images/badges/badge1.png"
          class="badge-icon"
          alt=""
          role="presentation"
        />
      </div>
      <div class="badge-icon-container">
        +5
      </div>
    </div>
    <LinkTo @route="profile" class="btn-sm btn btn-primary view-profile-btn">
      {{t 'admin.users_and_badges.buttons.view_user'}}
    </LinkTo>
  </div>
</div>