$palette: (
  primary: #F57010,
  black: #000000,
  boxShadow: #0A4B6D2E,
  gray30: #3F484D,
  darkCharchoal: #333333,
  luckyGrey: #777777,
  white: #FFFF
);

.badges .users-badges-homepage {

  .header-section {
    .title {
      font-size: 22px;
      color: map-get($palette, black);
      font-weight: bold;
    }

    .card {
      box-shadow: 0px 3px 16px map-get($palette, boxShadow);
      height: 100%;

      .card-body {
        padding-top: 15px;
      }
    }

    .action-prompt-card {
      .prompt-title {
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 8px;
      }

      .btn-primary svg {
        font-size: 14px;

        circle {
          fill: #F5D4BD;
        }

        path {
          stroke-width: 10;
        }
      }
    }

    .card-sect-title {
      padding-top: 10px;
    }

    .badges-earned-total-card, .badges-total-card {
      .badges-total-count {
        font-size: 26px;
      }

      .see-all {
        font-size: 14px;

        .link-icon {
          margin-left: -5px;

          svg path {
            stroke: map-get($palette, primary);
          }
        }
      }
    }
  }
}

.badges .users-badges-homepage {
  .user-badges-section .submenu-section {
    .search-form {
      position: relative;
      margin-top: -5px;

      .search-input {
        border-radius: 18px;
        padding: .275rem .45rem;
        height: initial;

        &::placeholder {
          font-size: 14px;
        }
      }

      .search-icon {
        position: absolute;
        top: 7px;
        right: 16px;
        width: 18px;
        height: 18px;
        border-width: 1px;

        &:after {
          left: 18px;
          top: 10px;
          width: 1px;
          height: 10px;
        }
      }
    }
  }

  .badges-users-table {
    border-collapse: separate;
    border-spacing: 0 10px;

    thead td {
      font-size: 16px;
      font-weight: 500;
      border: none;
    }

    tbody {
      tr {
        margin-bottom: 10px;
        box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        background-color: map-get($palette, white);
      }

      td {
        font-size: 14px;
        color: map-get($palette, gray30);
        vertical-align: middle;
        border: none;
      }

      td.user-profile {

        .image-container {
          max-width: 40px;
          max-height: 40px;

          .user-profile-image {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }

        .details {
          padding-left: 15px;

          .name {
            font-size: 16px;
            color: map-get($palette, darkCharchoal);
            font-weight: 600;
          }

          .location {
            color: map-get($palette, luckyGrey);
            font-size: 16px;
          }
        }
      }

      td.points {
        font-size: 16px;
        font-weight: 500;
      }

      td.badges-container {
        .badges {
          display: flex;
          flex-direction: row;
          align-content: center;
          justify-content: flex-start;
          align-items: center;

          .extra-badges-total {
            font-size: 16px;
            background-color: #3F484D5C;
            width: 34px;
            height: 34px;
            color: #FFFFFF;

            display: flex;
            border-radius: 100%;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            align-items: center;
          }

          .mini-badge-container {
            width: 50px;
            height: 65px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
            border: 0.5px solid rgba(86, 16, 245, 0.11);
            margin-right: 9px;
            padding: 4px;

            .badge-icon {
              width: 100%;
              height: 100%;
            }
          }
        }
      }

      td {
        .view-profile-btn {
          font-size: 13px;
          padding-bottom: 4px;
          padding-top: 4px;
        }
      }
    }

  }

  .footer-pagination {
    margin-top: 40px;

    select {
      padding-right: 11px;
      padding-bottom: 4px;
      padding-top: 4px;
    }

    .pagination .page-link {
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}
