table.content {
  table-layout: fixed;
  width: 100%;

  img {
    width: 150px;
  }

  th:nth-child(3) {
    width: 30%;
  }

  th:nth-child(4) {
    width: 10%;
  }

  img.user-profile-image {
    width: 30px;
  }

  .pending-icon {
    fill: #f5c929;
  }

  .approved-icon {
    fill: #3ca583;
  }

  .revision-icon {
    fill: #f64225;
  }
}
