$palette: (
  primary: #F57010,
  gray75:#EDF4F8,
  gray45: #6E6E6E,
  black: #000000
);

.sidenav {
  height: 100%;
  background-color: map-get($palette, gray75);
  width: 234px;
  overflow: auto;

  .header {
    .header-link {
      width: 100%;
      padding: 10px;
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      display: flex;
      margin-left: -15px;
    }

    svg path {
      fill: map-get($palette, primary);
    }
  }
}

.sidenav .sidenav-menu {
  .nav-item .nav-link {
    display: block;
    margin: 0;
    color: map-get($palette, gray45);
    font-weight: 400;
    white-space: nowrap;
    padding: .75em .75em .75em 25px;

    &.active {
      color: map-get($palette, black);
      font-weight: 500;

      svg path {
        fill: map-get($palette, primary)
      }
    }
  }

  .nav-item .sub-menu {
    margin-left: 26px;
    font-size: 14px;

    .nav-link {
      &.active {
        color: map-get($palette, primary);
      }
    }
  }
}
