$palette: (
  primary: #F57010,
  black: #000000,
  boxShadow: #0A4B6D2E,
  gray30: #3F484D,
  gainsboro: #EAE7E7,
  white: #FFFF,
  jungleGreen: #32A583,
  carrotOrange: rgba(245, 112, 16, 0.39),
  grayChateau: #A6ADB4
);

.survey-manage-page {
  padding: 16px;

  .title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }

  .utilities-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .summary {
      margin-top: 0;
      margin-bottom: 0;
    }

    .search-form {
      margin-left: 10px;
      margin-right: 15px;

      .search-input {
        border-color: map-get($palette, gainsboro);
        color: map-get($palette, black);
      }
    }

    .sort-form {
      .sort-dd {
        border: 1px solid map-get($palette, gainsboro);
        border-radius: 18px;
        padding: 0.2275rem 1.45rem;
        background-color: map-get($palette, white);

        .dropdown-toggle {
          color: map-get($palette, black);
        }
      }
    }
  }

  .horizontal-divider {
    margin-top: .5rem;
  }

  .surveys-list {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-columns: 255px 255px 255px 255px;
    padding-bottom: 20px;

    .create-card, .survey-card {
      border: 1px solid rgba(201, 202, 203, 1);
      box-shadow: 0px 3px 16px rgba(10, 75, 109, 0.18);
      min-height: 165px;
      border-radius: 6px;
    }

    .create-card {
      text-align: center;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
      height: 100%;

      .content {
        font-size: 18px;
        font-weight: 500;
      }

      svg {
        circle {
          fill: map-get($palette, primary);
        }

        path {
          stroke-width: 10;
        }
      }

      &.active {
        border: 1px solid map-get($palette, primary);
      }
    }

    .survey-card {
      position: relative;

      .status {
        padding-right: 0;
        display: block;
        text-align: end;
        padding-top: 4px;

        .status-badge {
          color: map-get($palette, white);
          background-color: map-get($palette, jungleGreen);
          padding: 4px 12px;
          font-size: 12px;
          border-radius: 1px;

          &.archived {
            background-color: map-get($palette, gray30);
          }

          &.pending {
            background-color: map-get($palette, carrotOrange);

          }
        }
      }

      .name {
        font-size: 14px;
        color: map-get($palette, black);
        font-weight: 500;
        padding-top: 8px;
      }

      .validity {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 11px;
        color: map-get($palette, gray30);
      }

      .description {
        color: map-get($palette, gray30);
        font-size: 11px;
        padding-bottom: 26px;
      }

      .footer {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 5px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        .left {
          .dd-actions-menu {
            .dropdown-toggle {
              &:after {
                display: none;
              }
            }
          }
        }

        .right {
          a {
            font-weight: 600;
            font-size: 12px;
          }
        }
      }
    }

  }

  .surveys-list {
    .survey-form-section {
      grid-column: 1 / 5;
      grid-row: 2 / 3;
    }

    .form-header {
      font-size: 18px;
      font-weight: 600;
      padding-left: 1.5em;
      padding-bottom: 1em;
    }

    .survey-form {
      .main-form {
        .form-group {
          label {
            color: map-get($palette, black);
            font-size: 16px;
          }

          input::placeholder,
          textarea::placeholder,
          select:invalid, {
            font-size: 13px;
            color: map-get($palette, grayChateau);
          }

          .invalid-feedback {
            margin-left: 1.3%;
          }
        }

        .btn-submit {
          padding: 3px 24px;
        }
      }
    }
  }

  .custom-dd {
    .header {
      font-size: 16px;
      font-weight: 600;
      padding-left: 13px;
    }

    hr {
      margin-top: 4px;
      margin-bottom: 3px;
    }

    .menu-item {
      text-align: left;
      border-radius: 0;

      &:hover {
        background-color: map-get($palette, primary);
        color: map-get($palette, white);
      }
    }
  }
}


@media (min-width: 768px) {
  .survey-manage-page {
    .survey-form {
      .main-form {
        .form-group {
          label {
            text-align: right;
          }

          .invalid-feedback {
            margin-left: 35.33333% !important;
          }
        }
      }
    }
  }
}
